pandas
numpy
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
openai
streamlit
python-dotenv
tqdm
google-genai
rank-bm25
fastapi
uvicorn
requests
#torchvision